body{
    height:100vh;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color:#e7eff5;
}
.container{
    text-align: center;
}
.container h2{
    background-color: #222;
    color: azure;
    padding: 20px;
    border-radius: 10px;
    font-size: 30px;   
}
.color{
    color: #051258c5;
    font-size: 25px;
}
.btn{
    background-color: transparent;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    margin-left: 20px;
    cursor:pointer;
}
.btn:hover{
    background-color: #222;
    color: #fff;
    transition: all 0.3s ease-in-out;
}